/* Global Styles */
body {
    font-family: brevia, sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    background-color: #FCF8ED;
}


nav {
    background-color: #005A7A;
    padding: 10px 0;
    top: 0px;
    align-items: center;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    display: inline-flex;
    justify-content: center;
    text-align: center;
    position:fixed;
    left:50vw;
    transform: translateX(-50%);
    flex-wrap: nowrap;
}

nav a {
    color: #FCF8ED;
    text-decoration: none;
    padding: 0 1vw;
    margin-inline: 1vw;
    transition: underline 2s ease-in;
}
nav a:hover{
    text-decoration: underline;
}

#welcome{
    height: 15  vh;
}

#resume h1{
    padding-block-start: 5vh;
    padding-block-end: 1vh;
}

#socials{
    padding-block-start: 5vh;
    padding-block-end: 1vh;
}

main{
    margin-top: 80px; /* Adjust the value to match the height of the fixed element */
    padding-inline: 10vw;
}

h1 {
    color: #005A7A;
}


.links{
    color:black;
    text-decoration: none;
}
.links:link{
    color: black;
}
.links:hover{
    color: #ff6600;
}


div.contact-cards{
    display:flex;
    justify-content: center ;
    flex-wrap: wrap;
}
 

div.contact-card{
    border-radius: 15px;
    display: flex;
    align-items:center; /* Center content vertically */
    justify-content: center;
    height: 200px; /* Make container take up full height of the viewport */
    width:200px;
    margin: 10px;
    transition: 0.2s;
    border: solid;
    border-color: #005A7A;

    background: rgba(255, 255, 255, 1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
}

div.contact-card:hover{
    border-color: #005A7A;
    cursor: pointer;
    transform:scale(1.4);
    position: relative;
    z-index: 1;
}


footer {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px; /* Height of the footer */
    background-color: #FCF8ED;
    color: #293D2C;
    text-align: center;
}
